* {
    border: 0;
}

body {
    background: #235580;
}

.wrapper {
    text-align: center;
}

.header {
    background: rgba(0,0,0,0.06);
}

.header h1 {
    color: white;
}

.header nav a {
    color: rgba(0,0,0,0.4);
}

#nav .active {
    color: white;
}

#nav a:hover {
    color: rgba(0,0,0,0.8);
}

#nav .active:hover {
    color: rgba(255,255,255,0.7);
}

label {
    color: white;
    font-size: 16px;
}

.form-input {
    width:100%;
    padding-left: 40px;
}

.form-input:focus {
    background-color: #286192;
    outline: none;
    box-shadow: none;
}

.form-input::placeholder {
    color: rgba(255,255,255,0.6);
}

input, label {
    display:block;
}

.form-button {
    position: relative;
    top: 10px;
    width: 100%;
    display: block;
}

.form-button:hover {
    background-color: #286192;
}

.form-button:focus {
    background-color: #0d395e;
}

.form-button, .form-input {
    border: 0;
    background-color: #337ab7;
    height: 50px;
    border-radius: 2em;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    color: white;
}

.input-group-addon {
    background: #337ab7;
    border: 0;
}

.input-group-addon:focus {
    border-shadow: 0;
}

span#bookmark-color-cont  { 
    border: 0 !important; /* important because of the default style also has !important */
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.sp-replacer.sp-krajee {
    background: transparent;
}

.error-form {
    color: white;
}

input#bookmark-color {
    width:380px;
}

div.file-caption-name {
    position: relative;
    overflow: visible;
    top: 5px;
}

.form-file-browse  {
    background-color: #337ab7;
    height: 50px;
    border-radius: 2em;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    color: white;
    width: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

.form-file-browse:hover {
    background-color: #286192;
}

.form-file-browse > .glyphicon {
    top: 10px;
}

div.file-caption-main {
    width: 440px;
}

.form-file-caption {
    border: 0;
    background-color: #337ab7;
    height: 50px;
    border-radius: 2em;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    color: white;
    width:400px;
    padding-left: 40px;
}

div.file-input {
    max-width: 10px;
}


.table {
    background-color: rgba(0,0,0,0.1);
    color: white;
    border-radius: 10px;
}

.table th {
    text-align: center;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > thead > tr > th  {
    border: 0;
}

.summary {
    color: white;
}

.table input {
    background: rgba(0,0,0,0.1);
    border: 0;
    color: white;
}

.table input:focus {
    box-shadow: none;
}

.table a {
    color: white;
}

.table a:hover {
    color: white;
}

.wrapper-view {
    display: inline;
    overflow:hidden;
}

.box {
    float: left;
    width: 300px;
    height: 300px;
}

.box2 {
    overflow:hidden;
}

.label-view {
    color: white;
    font-size: 20px;
}

.item-view {
    margin: 10px;
}

.value-view {
    background-color: #337ab7;
    border-radius: 2em;
    width: 500px;
    height: 50px;
    text-align: center;
    color: white;
}

.value-text {
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}