@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
    outline: none;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: 90px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background-color: white;
}

.header .inner {
    width: 90%;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1.875em;
}

.header h1,
.header nav {
    display: inline-block;
    position: relative;
}

/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.header h1,
.header nav a {
    line-height: 90px;
}

.header h1 {
    color: #337ab7;
    letter-spacing: 4px;
    font-size: 2em;
    margin: 0;
    float: left;
    font-weight: bold;
}

.header nav {
    float: right;
}

.header nav a {
    color: #aaa;
    font-weight: 700;
    margin: 0 0 0 20px;
    font-size: 1.1em;
}

.header h1,
.header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header nav a {
    text-decoration: none;
}

#nav a:hover {
    color: #333;
}

#nav .active {
    color: #337ab7;
}